#view{
    width: 99.8%;
    height: 96%;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    overflow-x: none;
}

#top1{
    display: flex;
    align-items: center;
    width: 50%;
    height: 100%;
    background-color: rgb(44, 44, 44);
}

#btn{
    margin-right: 4%;
    position: relative;
    border: 1px black solid;
    border-bottom: none;
    background-color: rgb(29, 116, 55);
    width: 19.5%;
    height: 100%;
    border-radius: 0;
    font-size: 1rem;
    color: antiquewhite;
    justify-content: center;
    transition: all .2s ease-in-out; 
}

#btn:hover{
    transform: scale(1.01);
    background-color: rgb(24, 94, 45);
}

.main-table{
    width: 100%;
    margin: 0;
    padding: 0;
    border-collapse: collapse;
    background-color: #ffffff;
    height: auto;
    overflow: hidden;
}

.main-table tr{
    height: 50px;
    max-height: 50px;
}

.main-table th, .main-table td{
    padding: 10px 10px;
    border: 1px solid black;
    text-align: left;
    overflow: hidden;
    height: 50px;
    max-height: 50px;
}

.main-table td{
    font-size: 0.8rem;
}

.main-table tr:nth-child(even) {
    background-color: #e4e4e4; 
}

.main-table tr:nth-child(odd) {
    background-color: #ffffff; 
}

.acao{
    font-size: 1.4rem;
    color: #999999;
    transition: all .55s ease-in-out;
}

.acao:hover{
    color: black;
}

#fk_colaborador, #fk_epi{
    width: 130px;
}

#descricaoFont{
    font-size: 0.665rem;
}

#nomeFont{
    font-size: 0.73rem;
}

#tabela-emprestimos tr{
    border-bottom: 1px solid black;
    border-right: 1px solid black;
}

#fecharModal{
    font-size: 2rem;
    border: none;
    outline: none;
    background-color: transparent;
}

#descricao{
    resize: none;
}

.bi-link-45deg{
    font-size: 1.1rem;
    color: #0d6efd
}