body{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

.box{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.93);
    border-radius: 8px;
    width: 25%;
    padding-left: 45px;
    padding-right: 45px;
    padding-bottom: 15px;
    padding-top: 15px;
    display: flexbox;
    z-index: 100;
}

.inputContainer{
    position: relative;
    margin-bottom: 50px;
}

.inputContainer label{
    position: absolute;
    top: 0px;
    left: 0px;
    font-size: 1.35rem;
    color: antiquewhite;
    pointer-event: none;
    transition: all 0.5s ease-in-out;
}

.inputContainer input{
    color:#fff;
    border:0;
    border-bottom:1px solid #555;  
    background: transparent;
    width:100%;
    padding:10px 0 5px 0;
    font-size: 1rem;
}

.inputContainer input:focus{
    border: none;
    outline: none;
    border-bottom: 2px solid antiquewhite;
}

.inputContainer input:focus ~ label,
.inputContainer input:valid ~ label{
	top:-22px;
	font-size: 1.25rem;
}

.btn{
    border: none;
    outline: none;
    background-color: rgb(231, 211, 185);
    height: 55px;
    width: 100%;
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
    font-family: Verdana, Geneva, Tahoma, sans-serif;   
    font-size: 1.3rem;
    font-weight: bold;
}

.btn:hover{
    cursor: pointer;
    background-color: rgb(255, 222, 179);
}

h1{
    padding: 0;
    padding-bottom: 40px;
    position: relative;
    color: antiquewhite;
}

.inputContainer{
    padding-bottom: 22px;
}

#senai{
    position: relative;
    width: 14%;
    height: auto;
    padding-top: 25px;
}

.orgLogin{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: end;
}

a{
    text-decoration: none;
    color: antiquewhite;
}

#eSenha{
    padding-top: 5px;
}

footer{
    position: fixed;
    display: flex;
    bottom: 1%;
    width: 100%;
    height: 15%;
    align-items: end;
    justify-content: center;
    z-index: 100;
}

#background{
    height: auto;
    width: 100%;
    filter: grayscale(65%);
}