.modal .modal-dialog {
    max-width: 400px;
    top: 8%;
}
.modal .modal-header, .modal .modal-body, .modal .modal-footer {
    padding: 20px 30px;
}
.modal .modal-footer {
    background: #eeebeb;
    border-radius: 0 0 3px 3px;
}
.modal .modal-title {
    display: inline-block;
    color: antiquewhite;
    font-size: 1.6rem;
    font-weight: bold;
}
.modal .form-control {
    box-shadow: none;
    border-color: #dddddd;
}
.modal textarea.form-control {
    resize: vertical;
}
.modal .btn {
    min-width: 100px;
}	
.modal form label {
    font-weight: normal;
}

.modal-header{
    justify-content: space-between;
    background-color: rgb(12, 12, 12);
}

.form-group{
    margin-bottom: 20px;
}